@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  font: 16px;
  font-family: 'Roboto', sans-serif;
  color: #3d405b;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #f4f1de;

  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #e07a5f;
  box-shadow: 5px 5px #3d405b;

  display: flex;
  flex-direction: row;
  border-radius: 3%;
}
aside {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliders {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.colorpreview {
  width: 4rem;
  height: 4rem;
  background-color: none;
  border: white;
  border-width: 0.5rem;
  border-style: solid;
}
p {
  margin: 0;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 5rem;
  height: 2rem;
  background-color: #f4f1de;
}
